.course_card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 20px;
    height: 150px;
}

.course_symbol {
    align-self: center;
    grid-column: 1;
    width: 100%;
}

.name_description_holder {
    margin: 10px;
    padding: 10px;
    grid-column: 2;
    background-color: #fdcb6e;
    border-radius: 10px;
}

.course_card_name {
    font-weight: bold;
}