.registration_page {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.regbutton {
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
}

.regtitle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}