.settings_page {
    display: grid;
    grid-template-columns: 8fr  4fr;
}

.settings_holder {
    margin-top: 20px;
    display: grid;
}

.right_side_settings {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.setting_img {
    width: 100%;
    outline: 2px solid black;
}

.button_left {
    margin-left: 5em;
    margin-right: 10px;
}

.button_right {
    width: 100px;
}
